/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DFAFDB;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.mainpage {
  height: 100vh;
}

header {
background-color: #FFD28D;
width: 100%;
}

.hero-container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
display: flex;
max-width: 100%;
height: 100%;
}


.row .col-md-6 {
  width: 50vw;
}


.row .hero-banner {
  background-image: url("images/mainpage-hero-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-hero {
width: 50vw;
object-fit: cover;
display: none;
}



h1 {
  color: #FF6B31;
  font-size: 2rem;
}

.welcome-title {
  border: #FFD28D;
  text-align: center;
  margin: 20px;
}

#visit {
  background-color: #FFD28D;
  border: #FFD28D;
  color: #FF6B31;
}

.navbar_container {
  margin: 0;
  text-align: center;
  background-color: #FFD28D;
}

.navbar_container li {
  display: inline-block;
}

.active {
background-color: #fde9cb;
}

.navbar_container a {
  display: inline-block;
  color: #FF6B31;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2rem;
}

a:hover {
  background-color: #DFAFDB
}

.btn-branding {
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width:768px) {
  .row  {
    flex-direction: column;
  }  
  .row .hero-banner {
    height: 100%;
  }
  .row .col-md-6 {
    width: 100vw;
    }
  ul {
    padding: 0;
  }
  .hero-welcome {
    margin-bottom: 20px;
  }
}
